/* Styling for green button */
.green-button {
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(0, 126, 0, 0.5);
    color: aliceblue;
    text-decoration: none;
}

/* Hover effect for the green button */
.green-button:hover{
    color: white;
    transition: 0.3s ease;
    background-color: rgb(211, 228, 211);
}

/* Styling for like button */
.like-btn {
    align-self: center;
}