/* Styling for the overall card */
.card {
  background-color: #e2dddd;
  padding: 10px;
  border-radius: 18px;
  box-shadow: 0 2px 4px #1b0c0c1a;
}

/* Styling for the top section of the card */
.card-top {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  gap: 1em;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(27, 12, 12, 0.1);
}

/* Styling for the product image in the top section */
.card-top img {
  width: 420px;
  object-fit: cover;
  border-radius: 24px;
}

/* Styling for the product information section in the top */
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Styling for the product title */
.card-title {
  font-family: "roboto Serif", serif;
  font-size: 20px;
  font-weight: bold;
}

/* Styling for the product description */
.card-description {
  text-align: justify;
  font-size: 14px;
  color: #333333;
}

/* Styling for the double button section */
.double-button {
  display: flex;
  justify-content: center;
  gap: 1.3em;
  padding-bottom: 10px;
}

/* Styling for the middle section of the card containing video */
.card-middle {
  margin: 1em 0;
}

/* Styling for the bottom section of the card containing images */
.card-bottom {
  display: flex;
  justify-content: space-between;
}

/* Styling for the individual images in the bottom section */
.card-bottom img {
  width: 32%;
  height: 200px;
  object-fit: cover;
  border-radius: 18px;
}

/* Hover effect for the images in the bottom section */
.card-bottom img:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}
